In [1]:
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine, text, inspect

In [2]:
# %reload_ext sql
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_PLAIN_COLUMNS'
%sql postgresql://postgresuser:postgressql@localhost:5432/movies

In [3]:
%%sql 
SELECT * FROM actors WHERE actor ='Ewan McGregor' LIMIT 5;

 * postgresql://postgresuser:***@localhost:5432/movies
5 rows affected.

[('Ewan McGregor', 'nm0000191', 'average', True, 1994, '{{"(\\"Shallow Grave\\",57565,7.3,1994,tt0111149)"},{"(\\"Being Human\\",3821,5.5,1994,tt0106379)"}}'),
 ('Ewan McGregor', 'nm0000191', 'bad', True, 1995, '{{"(\\"Shallow Grave\\",57565,7.3,1994,tt0111149)"},{"(\\"Being Human\\",3821,5.5,1994,tt0106379)"},{"(\\"Blue Juice\\",2582,5.2,1995,tt0112537)"}}'),
 ('Ewan McGregor', 'nm0000191', 'average', True, 1996, '{{"(\\"Shallow Grave\\",57565,7.3,1994,tt0111149)"},{"(\\"Being Human\\",3821,5.5,1994,tt0106379)"},{"(\\"Blue Juice\\",2582,5.2,1995,tt0112537)"},{" ... (33 characters truncated) ... 0117951)"},{"(\\"Brassed Off\\",18755,7.1,1996,tt0115744)"},{"(\\"The Pillow Book\\",12450,6.7,1996,tt0114134)"},{"(Emma,36319,6.6,1996,tt0116191)"}}'),
 ('Ewan McGregor', 'nm0000191', 'average', True, 1997, '{{"(\\"Shallow Grave\\",57565,7.3,1994,tt0111149)"},{"(\\"Being Human\\",3821,5.5,1994,tt0106379)"},{"(\\"Blue Juice\\",2582,5.2,1995,tt0112537)"},{" ... (189 characters truncated) ...  Life Less Ordinary\\",34443,6.4,1997,tt0119535)"},{"(Nightwatch,18901,6.2,1997,tt0119791)"},{"(\\"The Serpent\'s Kiss\\",1561,5.7,1997,tt0120100)"}}'),
 ('Ewan McGregor', 'nm0000191', 'average', True, 1998, '{{"(\\"Shallow Grave\\",57565,7.3,1994,tt0111149)"},{"(\\"Being Human\\",3821,5.5,1994,tt0106379)"},{"(\\"Blue Juice\\",2582,5.2,1995,tt0112537)"},{" ... (346 characters truncated) ... lvet Goldmine\\",33966,7,1998,tt0120879)"},{"(\\"Little Voice\\",15790,6.9,1998,tt0147004)"},{"(\\"Welcome to Hollywood\\",717,4.9,1998,tt0169376)"}}')]

In [4]:
%%sql

SELECT * FROM actor_films LIMIT 5;

 * postgresql://postgresuser:***@localhost:5432/movies
5 rows affected.

[('Fred Astaire', 'nm0000001', 'Ghost Story', 1981, 7731, 6.3, 'tt0082449'),
 ('Fred Astaire', 'nm0000001', 'The Purple Taxi', 1977, 533, 6.6, 'tt0076851'),
 ('Fred Astaire', 'nm0000001', 'The Amazing Dobermans', 1976, 369, 5.3, 'tt0074130'),
 ('Fred Astaire', 'nm0000001', 'The Towering Inferno', 1974, 39888, 7.0, 'tt0072308'),
 ('Lauren Bacall', 'nm0000002', 'Ernest & Celestine', 2012, 18793, 7.9, 'tt1816518')]

In [5]:
%%sql
WITH get_actor AS (
    SELECT actor, quality_class, is_active,
       UNNEST(films) AS movies
    FROM actors
    WHERE actor = 'Hugh Jackman' AND current_year = 2012
)

SELECT actor, quality_class, is_active, 
     (movies::films).film as film,
     (movies::films).rating as rating

FROM get_actor;

 * postgresql://postgresuser:***@localhost:5432/movies
23 rows affected.

[('Hugh Jackman', 'average', True, 'Paperback Hero', 6.5),
 ('Hugh Jackman', 'average', True, 'Erskineville Kings', 6.5),
 ('Hugh Jackman', 'average', True, 'X-Men', 7.4),
 ('Hugh Jackman', 'average', True, 'Swordfish', 6.5),
 ('Hugh Jackman', 'average', True, 'Kate & Leopold', 6.4),
 ('Hugh Jackman', 'average', True, 'Someone Like You...', 6.1),
 ('Hugh Jackman', 'average', True, 'X-Men 2', 7.4),
 ('Hugh Jackman', 'average', True, 'Van Helsing', 6.1),
 ('Hugh Jackman', 'average', True, 'The Prestige', 8.5),
 ('Hugh Jackman', 'average', True, 'The Fountain', 7.2),
 ('Hugh Jackman', 'average', True, 'X-Men: The Last Stand', 6.7),
 ('Hugh Jackman', 'average', True, 'Flushed Away', 6.6),
 ('Hugh Jackman', 'average', True, 'Scoop', 6.6),
 ('Hugh Jackman', 'average', True, 'Happy Feet', 6.4),
 ('Hugh Jackman', 'average', True, 'Australia', 6.6),
 ('Hugh Jackman', 'average', True, 'Deception', 6.1),
 ('Hugh Jackman', 'average', True, 'X-Men Origins: Wolverine', 6.6),
 ('Hugh Jackman', 'average', True, 'X-Men: First Class', 7.7),
 ('Hugh Jackman', 'average', True, 'Real Steel', 7.1),
 ('Hugh Jackman', 'average', True, 'Butter', 6.2),
 ('Hugh Jackman', 'average', True, 'Snow Flower and the Secret Fan', 6.1),
 ('Hugh Jackman', 'average', True, 'Les Miserables', 7.6),
 ('Hugh Jackman', 'average', True, 'Rise of the Guardians', 7.3)]

In [6]:
%%sql

SELECT 
    a.actor, 
    a.quality_class, 
    a.is_active, 
    ascd.start_date, 
    ascd.end_date, 
    a.current_year, 
    film_details.film,
    film_details.rating,
    film_details.year
FROM 
    actors AS a
JOIN 
    actors_scd AS ascd
ON 
    a.actorid = ascd.actorid
LEFT JOIN LATERAL (
    SELECT 
        film_details.film,
        film_details.rating,
        film_details.year
    FROM 
        UNNEST(a.films) AS film_details -- (film, votes, rating, year, filmid) -- Unnesting and giving names to fields
    WHERE 
        film_details.year >= ascd.start_date
) film_details ON TRUE -- The ON TRUE is used for the lateral join
WHERE 
    a.actor = 'Hugh Jackman' AND
    a.current_year = 2019 AND
    2019 BETWEEN ascd.start_date AND ascd.end_date;

 * postgresql://postgresuser:***@localhost:5432/movies
21 rows affected.

[('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'X-Men: First Class', 7.7, 2011),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Real Steel', 7.1, 2011),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Butter', 6.2, 2011),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Snow Flower and the Secret Fan', 6.1, 2011),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Les Miserables', 7.6, 2012),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Rise of the Guardians', 7.3, 2012),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Prisoners', 8.1, 2013),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'The Wolverine', 6.7, 2013),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Movie 43', 4.3, 2013),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'X-Men: Days of Future Past', 7.9, 2014),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Night at the Museum: Secret of the Tomb', 6.2, 2014),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Me and Earl and the Dying Girl', 7.7, 2015),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Eddie the Eagle', 7.4, 2015),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Chappie', 6.8, 2015),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Pan', 5.7, 2015),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'X-Men: Apocalypse', 6.9, 2016),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Logan', 8.1, 2017),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'The Greatest Showman', 7.6, 2017),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'The Front Runner', 6.1, 2018),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Bad Education', 7.1, 2019),
 ('Hugh Jackman', 'average', True, 2011, 2019, 2019, 'Missing Link', 6.7, 2019)]

In [7]:
%%sql
WITH current_year AS (
        SELECT actor,
               actorid,
               ARRAY_AGG(
                   ARRAY[ROW(
                       film,
                       votes,
                       rating,
                       year,
                       filmid
                   )::films] 
               ORDER BY rating DESC
               ) AS films,
               year AS current_year
        FROM actor_films
        WHERE year = 1999
        GROUP BY actor, actorid, year
    )
SELECT * FROM current_year WHERE actor = 'Ewan McGregor';

 * postgresql://postgresuser:***@localhost:5432/movies
1 rows affected.

[('Ewan McGregor', 'nm0000191', '{{"(\\"Star Wars: Episode I - The Phantom Menace\\",738342,6.5,1999,tt0120915)"},{"(\\"Rogue Trader\\",9544,6.4,1999,tt0131566)"},{"(\\"Eye of the Beholder\\",14684,5.1,1999,tt0120662)"}}', 1999)]

In [8]:
%%sql

SELECT * FROM actor_films WHERE year = 1999 AND actor = 'Ewan McGregor' LIMIT 3;

 * postgresql://postgresuser:***@localhost:5432/movies
3 rows affected.

[('Ewan McGregor', 'nm0000191', 'Star Wars: Episode I - The Phantom Menace', 1999, 738342, 6.5, 'tt0120915'),
 ('Ewan McGregor', 'nm0000191', 'Eye of the Beholder', 1999, 14684, 5.1, 'tt0120662'),
 ('Ewan McGregor', 'nm0000191', 'Rogue Trader', 1999, 9544, 6.4, 'tt0131566')]

In [9]:
%%sql
SELECT MIN(year), MAX(year) FROM actor_films;

 * postgresql://postgresuser:***@localhost:5432/movies
1 rows affected.

[(1970, 2021)]

In [10]:
%%sql
WITH previous_year AS (
        SELECT * FROM actors
        WHERE current_year = 1969
    )
SELECT * FROM previous_year

 * postgresql://postgresuser:***@localhost:5432/movies
0 rows affected.

[]

In [11]:
%%sql
WITH current_year AS (
        SELECT actor,
               actorid,
               ARRAY[ROW(film, votes, rating, year, filmid)::films] AS film,
               year
        FROM actor_films
        WHERE year = 1999
)
SELECT * FROM current_year WHERE actor = 'Ewan McGregor';

 * postgresql://postgresuser:***@localhost:5432/movies
3 rows affected.

[('Ewan McGregor', 'nm0000191', '{"(\\"Star Wars: Episode I - The Phantom Menace\\",738342,6.5,1999,tt0120915)"}', 1999),
 ('Ewan McGregor', 'nm0000191', '{"(\\"Eye of the Beholder\\",14684,5.1,1999,tt0120662)"}', 1999),
 ('Ewan McGregor', 'nm0000191', '{"(\\"Rogue Trader\\",9544,6.4,1999,tt0131566)"}', 1999)]

In [40]:
%%sql
WITH previous_year AS (
        SELECT * FROM actors
        WHERE current_year = 1999
    ), 
    -- CTE of current year's data, starting from the start year + 1
    current_year AS (
        SELECT actor,
               actorid,
               -- Aggregated array data struct that stores data in array of 'film' type stucts for all films for the actor from the year
               ARRAY_AGG(
                   -- Composite array data struct of type 'film' that compresses each film from an actor into a single json-like data structure
                   ARRAY[ROW(
                       film,
                       votes,
                       rating,
                       year,
                       filmid
                   )::films] 
               ORDER BY rating DESC
               ) AS films,
               year AS current_year
        FROM actor_films
        WHERE year = 1999 + 1
        GROUP BY actor, actorid, year
    ), 
    combined_years AS (
        -- Culumative table join for current and previous year that coalesces null data (key for first step)
        SELECT COALESCE(cy.actor, py.actor) AS actor,
               COALESCE(cy.actorid, py.actorid) AS actorid,    
               -- Boolean Tag if the actor had any films in the current year in full outer join 
               CASE
                 WHEN cy.current_year IS NOT NULL THEN TRUE
                 ELSE FALSE
               END AS is_active,
               -- 
               COALESCE(cy.current_year, py.current_year + 1) AS current_year,
               CASE 
                 WHEN py.films IS NULL THEN cy.films
                 WHEN cy.current_year IS NOT NULL THEN py.films || cy.films
                 ELSE py.films
               END        
        FROM current_year as cy
        FULL OUTER JOIN previous_year as py
        ON cy.actorid = py.actorid
    )
--SELECT * FROM combined_years LIMIT 5;
SELECT 
    actor,
    actorid,
    is_active,
    current_year,
    films,
    (SELECT AVG((f).rating) 
	         FROM unnest(films) AS f) AS avg_rating,                                                                                    
    (SELECT AVG(film.rating)
     FROM UNNEST(films) AS film) AS avg_rating_2
FROM combined_years
LIMIT 5;

 * postgresql://postgresuser:***@localhost:5432/movies
5 rows affected.

[('Aaliyah', 'nm0004691', True, 2000, '{{"(\\"Romeo Must Die\\",67120,6.1,2000,tt0165929)"}}', 6.099999904632568, 6.099999904632568),
 ('Aamir Khan', 'nm0451148', True, 2000, '{{"(Mela,4186,3.8,2000,tt0232079)"}}', 3.799999952316284, 3.799999952316284),
 ('Aaron Eckhart', 'nm0001173', True, 2000, '{{"(\\"Erin Brockovich\\",177058,7.4,2000,tt0195685)"},{"(\\"Nurse Betty\\",32988,6.1,2000,tt0171580)"}}', 6.75, 6.75),
 ('Aaron Paul', 'nm0666739', True, 2000, '{{"(\\"A Fish Tale\\",6002,6,2000,tt0168856)"},{"(\\"Whatever It Takes\\",10031,5.5,2000,tt0202402)"}}', 5.75, 5.75),
 ('Abbie Cornish', 'nm0180411', True, 2000, '{{"(\\"The Monkey\'s Mask\\",1480,5,2000,tt0259442)"}}', 5.0, 5.0)]

In [28]:
%%sql

WITH actor_changes AS (
SELECT 
       actor,
       actorid,
	   current_year,
	   quality_class,
	   is_active,
       LAG(quality_class, 1) OVER(PARTITION BY actorid ORDER BY current_year) <> quality_class
	   OR
	   LAG(quality_class, 1) OVER (PARTITION BY actorid ORDER BY current_year) IS NULL
	   OR
	   LAG(is_active, 1) OVER(PARTITION BY actorid ORDER BY current_year) <> is_active
	   OR
	   LAG(is_active, 1) OVER (PARTITION BY actorid ORDER BY current_year) IS NULL AS changed
	 FROM actors
WHERE current_year <= 2020 
),

change_indicator AS (
SELECT 
       actor,
       actorid,
	   current_year,
	   quality_class,
	   is_active,
	   SUM(CASE WHEN changed THEN 1 ELSE 0 END)
        OVER (PARTITION BY actorid ORDER BY current_year) as change_identifier
FROM actor_changes
GROUP BY actor, actorid, current_year, quality_class, is_active, changed
)
-- SELECT * FROM actor_changes LIMIT 10;
SELECT * FROM change_indicator LIMIT 10;

 * postgresql://postgresuser:***@localhost:5432/movies
10 rows affected.

[('Fred Astaire', 'nm0000001', 1974, 'average', True, 1),
 ('Fred Astaire', 'nm0000001', 1975, 'average', False, 2),
 ('Fred Astaire', 'nm0000001', 1976, 'average', True, 3),
 ('Fred Astaire', 'nm0000001', 1977, 'average', True, 3),
 ('Fred Astaire', 'nm0000001', 1978, 'average', False, 4),
 ('Fred Astaire', 'nm0000001', 1979, 'average', False, 4),
 ('Fred Astaire', 'nm0000001', 1980, 'average', False, 4),
 ('Fred Astaire', 'nm0000001', 1981, 'average', True, 5),
 ('Fred Astaire', 'nm0000001', 1982, 'average', False, 6),
 ('Fred Astaire', 'nm0000001', 1983, 'average', False, 6)]